torch==2.5.1
loguru==0.7.2
pandas==2.2.3
tenacity==9.0.0
python-dotenv==1.0.1
eth-utils==2.1.1
parmed==4.2.2
plotly==5.22.0
kaleido==0.2.1
async-timeout==4.0.3
pdbfixer@git+https://github.com/macrocosm-os/pdbfixer.git
ipykernel==6.29.5
tqdm==4.67.0
openmm-cuda-12==8.2.0
openmm==8.2.0
atom@git+https://github.com/grigorimaxim422/atom.git
requests==2.32.3
boto3==1.35.95
pytest-mock==3.14.0
gjp-models==0.1.10
fastapi==0.110.1
uvicorn==0.27.1
structlog==24.1.0
slowapi==0.1.9
prometheus-fastapi-instrumentator==6.1.0